@model IEnumerable<DISamples.NoLayers.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var product in Model)
        {
            @Html.ActionLink(product.Name, "Edit", new { id = product.ProductID })<br />
        }
    </div>
</body>
</html>
